@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


:root {
  --mw: 1100px;
  --br: 5px;
  --clr-1: #0f6569;
  --clr-2: #fff;
  --clr-3: #ff8819;
  --clr-4: #012f34;
  --font-1: "Acme", sans-serif, Menlo, Monaco, "Cascadia Mono", monospace;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-1);
}

body {
  background-color: var(--clr-1);
}